@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}

a {
  text-decoration: none
}

/* -- LOGO -- */

.logo {
  position: fixed;
  width: auto;
  padding-top: 20px;
  padding-left: 10px;
  align-items: center;
}

.logo a {
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff8f;
}

/* -- 404 TEXT -- */

.error_code {
  color: #ffffff8f;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 700;
  font-size: clamp(6rem, 20vw, 30vh);
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
}

/* -- OOPS! -- */

.title {
  color: white;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 5vmin;
  margin-top: 0vmin;
}

/* -- DESC -- */

.subtitle {
  color: #ffffff;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 3.5vmin;
  margin-top: -1vmin;
  margin-bottom: 9vmin;
}

/* -- BACK -- */

.btn-back {
  border: 1px solid white;
  color: white;
  height: 5vmin;
  padding: 12px;
  font-family: "Stack Sans Notch", sans-serif;
  border-radius: 5px;
  box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.5);
}

.btn-back:hover {
  background: #ffffff50
}

@media (max-width: 500px) {

  .logo a .name {
    display: none
  }

  .error_code {
    font-size: 15vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

}
